/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

/* style */
header {
  display: flex;
  justify-content: center;
  box-shadow: 0 0.5px 20px 1px #d6d6d6;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 95vw;
  max-width: 1800px;
}

header nav section:nth-child(1) {
  display: flex;
  height: 100%;
  align-items: center;
}

header nav section:nth-child(1) a {
  line-height: 60px;
  height: 100%;
  padding: 0 15px;
}

header nav section:nth-child(2) {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  margin: 10px 12px;
}

header nav section:nth-child(2) a:hover {
  background-color: #cccccc;
}

header nav section:nth-child(2) a {
  border-radius: 5px;
  padding: 10px 15px;
  transition: .1s;
}

main {
  margin-bottom: 100px;
  padding: 0 55px;
  display: flex;
}

main section {
  margin-top: 35px;
}

main section.leftbar {
  width: 15%;
  margin-right: 50px;
}

section.mainbar {
  width: 59%;
  min-width: 300px;
  max-width: 1200px;
}

section.rightbar {
  width: 25%;
}

.mainbar h1 {
  font-size: 30px;
}

.mainbar p.subscript {
  font-size: 13px;
  color: #9f9f9f;
  font-weight: 700;
}

.mainbar img {
  display: block;
  margin: 30px auto;
  width: 80%;
  min-width: 200px;
}

main p {
  text-align: justify;
}

/* media queries */
@media screen and (max-width: 768px) {
  section.rightbar {
    display: none;
  }
}