/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

/* style */
header {
  display: flex;
  justify-content: center;
  box-shadow: 0 0.5px 20px 1px #d6d6d6;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 95vw;
  max-width: 1800px;
}

header nav section:nth-child(1) {
  display: flex;
  height: 100%;
  align-items: center;
}

header nav section:nth-child(1) a {
  line-height: 60px;
  height: 100%;
  padding: 0 15px;
}

header nav section:nth-child(2) {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  margin: 10px 12px;
}

header nav section:nth-child(2) a:hover {
  background-color: #cccccc;
}

header nav section:nth-child(2) a {
  border-radius: 5px;
  padding: 10px 15px;
  transition: .1s;
}

main {
  padding: 0 55px;
}

section.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/dark.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  color: #fff;
  margin: 35px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 5px #aaaaaa;
}

section.hero p {
  font-size: xx-large;
  font-weight: 600;
  text-align: center;
}

.big-font {
  margin-top: 100px;
  font-size: 25px;
}

section.daftar-artikel {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: left;
}

section .artikel {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 650px;
  margin-right: 60px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px 2px #d6d6d6;
  padding: 8px 15px;
}

section .artikel div:nth-child(1) {
  margin-right: 15px;
}

section .artikel a:hover {
  transition: .1s;
}

section .artikel a:hover {
  color: rgb(104, 136, 251);
}

section .artikel img {
  margin-right: 100px;
  border-radius: 5px;
  width: 100%;
}

section .artikel .judul-artikel {
  font-size: 21px;
}